* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  min-width: 400px;
  height: 100%;
  overflow: hidden;
}

.container {
  width: 100%;
  min-height: 100vh;
  height: inherit;
  font-family: "Roboto", sans-serif;
  margin: 0 auto;
  background-color: #313442;
}

.title-banner {
  text-align: center;
  color: #c7ccd9;
  padding: 10vh 0;
  /* border: 1px solid pink; */
}

.github-ribbon {
  position: absolute;
  top: 0;
  left: 0;
  border: 0;
  float: left;
}

.title {
  font-size: 3em;
  font-weight: 100;
}

.input-content,
.output-content {
  font-size: 0.8em;
  letter-spacing: 1.4px;
  color: #c7ccd9;
  display: block;
  /* border: 1px solid red; */
}

.service-container,
.passphrase-container,
.password-container {
  padding: 2vh;
  text-transform: uppercase;
  width: 60%;
  margin: 0 auto;
}

input {
  display: block;
  border: none;
}

.serv-inputbox,
.phrase-inputbox,
.pwd-inputbox {
  background-color: transparent;
  border-bottom: 1px solid #767a8b;
  width: 100%;
  font-size: 1.3em;
  color: #e8eaf0;
  height: 6vh;
  letter-spacing: 1px;
  font-weight: 300;
  padding: 1%;
  margin-top: 1%;
}

.pwd-inputbox {
  margin-top: 1%;
  background-color: transparent;
  font-weight: 400;
  height: 5vh;
  color: #e8eaf0;
  background-color: #767a8b;
}

.btn-c {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 10vh 0;
}
.copy-btn {
  letter-spacing: 0;
  width: 12em;
  height: 6vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  color: #313442;
  background-color: #e8eaf0;
  cursor: pointer;
}

.copy-btn:active {
  background-color: white;
}
.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .container {
    height: auto;
    min-width: 100%;
  }

  body {
    font-size: 0.8em;
  }
}
