* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, .container {
  min-height: 100% !important;
  height: 100%;
}

.container {
  font-family: 'Roboto', sans-serif;
  max-width: 500px;
  margin: 0 auto;
  height: 100%;
  background-color: #231900;
  color: #C7CCD9;
}

.title-banner {
  background-color: #0D020A;
  color: #BFB163;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.title {
  font-size: 2em;
  font-weight: 400;
}

.input-content {
  font-size: 0.8em;
  background-color: #BFB163;
  color: #0D020A;
  padding: 20px 10px;
}

.service-container {
  padding: 10px 30px;
}

.passphrase-container {
  padding: 10px 30px;
}

.serv-inputbox, .phrase-inputbox {
  border-radius: 2px;
  border: 1px solid #979797;
  background-color: rgba(255, 255, 255, 0.57);
  font-size: 1.4em;
  width: 100%;
  height: 40px;
}

.output-content {
  background-color: #231900;
  padding: 10px 20px;
}

.password-container {
  font-size: 0.9em;
  color: #BFB163;
  padding: 30px;
}

.pwd-inputbox {
  font-weight: 400;
  font-size: 1em;
  border: 1px solid #BFB163;
  height: 50px;
  width: 100%;
  color: #E3DDBC;
  border-radius: 2px;
  background-color: #231900;
}

.settings-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.btns {
  display: grid;
  grid-template-columns: 50px 50px 50px;
  grid-gap: 20px;
}

.round-btn {
  user-select: none;
  cursor: pointer;
  width: 50px;
  height: 50px;
  color: #BFB163;
  border: 1px solid #BFB163;
  background-color: #231900;
  border-radius: 100%;
  transition: background-color 0.3s ease-in-out;
}

.round-btn:hover {
  color: #231900;
  background-color: #BFB163;
}
